# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
env/
venv/
ENV/

# Tools and Work directories
.tools/*
!.tools/.gitkeep
.work/*
!.work/.gitkeep

# Testing and Type checking
.mypy_cache/
.pytest_cache/
.pytest_temp/
.ruff_cache/
.coverage
htmlcov/

# Editor / OS
.vscode/
.idea/
Thumbs.db
desktop.ini
*.swp
*~

test-img/
output/
*.epub